:root {
  --maxWidth: 800px;
}
.App {
  max-width: var(--maxWidth);
  margin: 0 auto;
  height: 100vh;
  border: 1px solid #282c34;
}

.App header {
  padding: 1rem;
  min-height: 50px;
  border-bottom: 1px solid #282c34;
  width: 100%;
  max-width: var(--maxWidth);
}

main {
  padding: 10px;
  height: 75vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
}

main::-webkit-scrollbar-thumb {
}

form {
  margin: 0 1rem;

  width: auto;
  max-width: var(--maxWidth);
  display: flex;
}

input {
  margin: 10px;
  width: 100%;
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: 0 10px;
}
.Bottom {
}
.sendButton {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
}
.footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resetButton {
  border: 1px solid #282c34;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 80%;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  text-align: left;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  background: #32353f;
  color: white;
  padding: 12px 36px;

  align-self: flex-end;
}
.received p {
  background: #ffe34f;
}
